.game-canvas {
  border: 1px dashed;
  background-color: red;
  /*background: url('./images/lunchroom-background.png');*/
  /*background: url('./images/lunchroom-background.jpg')*/
  margin: auto;
  display: none;
}

.container { margin-top: 10px; }
