.game-canvas {
  border: 1px dashed;
  background-color: #888;
  
  /*background: url('./images/lunchroom-background.jpg')*/
  margin: auto;
  display: none;
}

.title {
  font-family: 'Bungee Inline', cursive;
}

.container { margin-top: 10px; }
