.game-canvas {
  margin: auto;
  display: none;
  padding-bottom: 20px;
}

body {
  color: white !important;
  background-image: url('./images/lunchroom-background.png') !important;
}

.panel-body {
  color: green !important;
}

.container { margin-top: 10px; }
